Repository shophubkr/shophub-client, pull requests merged in 2024-02, with the labels that each got.

#53 Modal에서 onComfirm을 넘기지 않았을 때는 확인 클릭 시 닫히는 기능만 할 수 있도록
  packages/ui/src/Modal/Modal.types.ts
  packages/ui/src/Modal/components/ModalFooter.tsx
Labels: chore

#55 react-query를 사용할 때, 객체 형태로 작성되게 eslint를 추가 합니다.
  .eslintrc.json
Labels: chore

#52 버튼 컴포넌트 수정 및 Detail 페이지 API 연동
  apps/client/src/app/shop/[shop_id]/_components/CouponSection/CouponSection.tsx
  apps/client/src/app/shop/[shop_id]/_components/CouponSection/index.ts
  apps/client/src/app/shop/[shop_id]/_components/ShopBriefInfo/ShopBriefInfo.tsx
  apps/client/src/app/shop/[shop_id]/_components/ShopBriefInfo/index.ts
  apps/client/src/app/shop/[shop_id]/_components/ShopOperationInfo/ShopOperationInfo.tsx
  apps/client/src/app/shop/[shop_id]/_components/ShopOperationInfo/index.ts
  apps/client/src/app/shop/[shop_id]/_components/ShopProduct/ShopProduct.tsx
  apps/client/src/app/shop/[shop_id]/_components/ShopProduct/ShopProduct.types.ts
  apps/client/src/app/shop/[shop_id]/_components/ShopProduct/index.ts
  apps/client/src/app/shop/[shop_id]/_components/ShopProductSection/ShopProductSection.tsx
  apps/client/src/app/shop/[shop_id]/_components/ShopProductSection/index.ts
  apps/client/src/app/shop/[shop_id]/_components/index.ts
  apps/client/src/app/shop/[shop_id]/_states/server/api.ts
  apps/client/src/app/shop/[shop_id]/_states/server/hooks/index.ts
  apps/client/src/app/shop/[shop_id]/_states/server/hooks/useGetNearestExpiryCoupon.ts
  apps/client/src/app/shop/[shop_id]/_states/server/hooks/useGetProductsByShop.ts
  apps/client/src/app/shop/[shop_id]/_states/server/hooks/useGetShopDetailInfo.ts
  apps/client/src/app/shop/[shop_id]/_states/server/index.ts
  apps/client/src/app/shop/[shop_id]/_types/api.types.ts
  apps/client/src/app/shop/[shop_id]/_types/index.ts
  apps/client/src/app/shop/[shop_id]/layout.tsx
  apps/client/src/app/shop/[shop_id]/page.tsx
  apps/client/src/app/shop/[shopid]/_components/CouponSection/CouponSection.tsx
  apps/client/src/app/shop/[shopid]/_components/ShopBriefInfo/ShopBriefInfo.tsx
  apps/client/src/app/shop/[shopid]/_components/ShopOperationInfo/ShopOperationInfo.tsx
  apps/client/src/app/shop/[shopid]/_components/ShopProduct/ShopProduct.tsx
  apps/client/src/app/shop/[shopid]/page.tsx
  apps/client/src/components/Icon/Icon.tsx
  apps/client/src/hooks/index.ts
  apps/client/src/hooks/useShopId.ts
  packages/ui/src/Button/Button.styles.ts
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/Button.types.ts
Labels: client, feature, chore

#54 myapp/buyer/couponList 페이지 퍼블리싱
  apps/client/src/app/ my/_components/SummarySection/SummarySection.stories.tsx
  apps/client/src/app/ my/_components/SummarySection/SummarySection.tsx
  apps/client/src/app/ my/_components/SummarySection/SummarySection.types.tsx
  apps/client/src/app/ my/_components/SummarySection/index.ts
  apps/client/src/app/ my/_components/UserProfile/UserProfile.stories.tsx
  apps/client/src/app/ my/_components/UserProfile/UserProfile.tsx
  apps/client/src/app/ my/_components/UserProfile/UserProfile.types.ts
  apps/client/src/app/ my/_components/UserProfile/index.ts
  apps/client/src/app/ my/_components/index.ts
  apps/client/src/app/ my/buyer/coupons/[title]/page.tsx
  apps/client/src/app/ my/buyer/coupons/layout.tsx
  apps/client/src/app/ my/buyer/coupons/page.tsx
  apps/client/src/app/ my/buyer/followed-shops/_components/Filters/Filters.tsx
  apps/client/src/app/ my/buyer/followed-shops/_components/Filters/Filters.types.ts
  apps/client/src/app/ my/buyer/followed-shops/_components/Filters/index.ts
  apps/client/src/app/ my/buyer/followed-shops/_components/index.ts
  apps/client/src/app/ my/buyer/followed-shops/layout.tsx
  apps/client/src/app/ my/buyer/followed-shops/page.tsx
  apps/client/src/app/ my/buyer/page.tsx
  apps/client/src/app/ my/layout.tsx
  apps/client/src/components/Coupon/Coupon/Coupon.tsx
  apps/client/src/components/Coupon/Coupon/Coupon.types.ts
  apps/client/src/components/Coupon/ReceiveCoupon/ReceiveCoupon.tsx
  apps/client/src/components/Coupon/components/CouponBody.tsx
  apps/client/src/components/Coupon/components/CouponComponents.types.ts
  apps/client/src/components/Coupon/components/CouponState.tsx
  apps/client/src/components/Coupon/components/Dday.tsx
  apps/client/src/components/Coupon/components/index.ts
  apps/client/src/components/ListLayout/ListLayout.stories.tsx
  apps/client/src/components/ListLayout/ListLayout.tsx
  apps/client/src/components/ListLayout/index.ts
  apps/client/src/components/StoreItem/StoreItem.types.ts
  apps/client/src/components/index.ts
  apps/client/src/utils/index.ts
  apps/client/src/utils/isNotLastElement.ts
Labels: client, publishing

#57 myapp/profile 페이지 퍼블리싱
  apps/client/src/app/auth/_constants/validation/validationSchemas.ts
  apps/client/src/app/myapp/profile/_constants/index.ts
  apps/client/src/app/myapp/profile/_constants/profileForm.validation.ts
  apps/client/src/app/myapp/profile/_types/index.ts
  apps/client/src/app/myapp/profile/_types/profileForm.types.ts
  apps/client/src/app/myapp/profile/page.tsx
  apps/client/src/components/Avatar/Avatar.stories.tsx
  apps/client/src/components/Avatar/Avatar.tsx
  apps/client/src/components/Avatar/Avatar.types.ts
  apps/client/src/components/Avatar/index.ts
  apps/client/src/components/Form/FormElement.tsx
  apps/client/src/components/Form/FormProps.type.ts
  apps/client/src/components/index.ts
  apps/client/src/hooks/index.ts
  apps/client/src/hooks/useUploadImage.ts
Labels: client, publishing

#63 my/** url명 제대로 변경되지 못한 문제 해결
  apps/client/src/app/my/_components/SummarySection/SummarySection.stories.tsx
  apps/client/src/app/my/_components/SummarySection/SummarySection.tsx
  apps/client/src/app/my/_components/SummarySection/SummarySection.types.tsx
  apps/client/src/app/my/_components/SummarySection/index.ts
  apps/client/src/app/my/_components/UserProfile/UserProfile.stories.tsx
  apps/client/src/app/my/_components/UserProfile/UserProfile.tsx
  apps/client/src/app/my/_components/UserProfile/UserProfile.types.ts
  apps/client/src/app/my/_components/UserProfile/index.ts
  apps/client/src/app/my/_components/index.ts
  apps/client/src/app/my/buyer/coupons/[title]/page.tsx
  apps/client/src/app/my/buyer/coupons/layout.tsx
  apps/client/src/app/my/buyer/coupons/page.tsx
  apps/client/src/app/my/buyer/followed-shops/_components/Filters/Filters.tsx
  apps/client/src/app/my/buyer/followed-shops/_components/Filters/Filters.types.ts
  apps/client/src/app/my/buyer/followed-shops/_components/Filters/index.ts
  apps/client/src/app/my/buyer/followed-shops/_components/index.ts
  apps/client/src/app/my/buyer/followed-shops/layout.tsx
  apps/client/src/app/my/buyer/followed-shops/page.tsx
  apps/client/src/app/my/buyer/page.tsx
  apps/client/src/app/my/layout.tsx
  apps/client/src/app/my/profile/_constants/index.ts
  apps/client/src/app/my/profile/_constants/profileForm.validation.ts
  apps/client/src/app/my/profile/_types/index.ts
  apps/client/src/app/my/profile/_types/profileForm.types.ts
  apps/client/src/app/my/profile/page.tsx
Labels: client, fix

#64 전역에 적용될 baseLayout 적용합니다.
  apps/client/src/app/layout.tsx
  apps/client/src/app/shared/layout/BaseLayout.tsx
  apps/client/src/app/shared/layout/index.ts
Labels: client, chore

#45 회원가입 입력 정보를 서버로 전송하기 위해 API를 추가 합니다.
  apps/client/src/app/auth/_state/server/api.ts
  apps/client/src/app/auth/_state/server/hooks/index.ts
  apps/client/src/app/auth/_state/server/hooks/usePostSignUp.ts
  apps/client/src/app/auth/_state/server/index.ts
  apps/client/src/app/auth/_types/index.ts
  apps/client/src/app/auth/signup/step1/_components/ChoiceUserType.tsx
  apps/client/src/app/auth/signup/step2/_components/AgreeBox.tsx
  apps/client/src/app/auth/signup/step2/_components/SignUpForms.tsx
  apps/client/src/app/auth/signup/step2/_components/index.ts
  apps/client/src/app/auth/signup/step2/page.tsx
Labels: feature

#65 BaseLayout에 use client 추가
  apps/client/src/app/shared/layout/BaseLayout.tsx
Labels: client, fix

#68 CouponSummary 컴포넌트 구성 방식 변경
  apps/client/src/app/my/buyer/followed-shops/page.tsx
  apps/client/src/app/my/buyer/page.tsx
  apps/client/src/components/Coupon/Coupon/Coupon.stories.tsx
  apps/client/src/components/Coupon/CouponSummary/CouponSummary.constants.ts
  apps/client/src/components/Coupon/CouponSummary/CouponSummary.stories.tsx
  apps/client/src/components/Coupon/CouponSummary/CouponSummary.tsx
  apps/client/src/components/Coupon/CouponSummary/CouponSummary.types.ts
  apps/client/src/components/Coupon/CouponSummary/index.ts
  apps/client/src/components/StoreItem/StoreItem.stories.tsx
  apps/client/src/components/StoreItem/StoreItem.tsx
  apps/client/src/components/StoreItem/StoreItem.types.ts
  apps/client/src/components/StoreItem/index.ts
  apps/client/src/mocks/Apis/index.ts
  apps/client/src/mocks/Apis/my-page/apis.ts
  apps/client/src/mocks/Apis/my-page/index.ts
  apps/client/src/mocks/Apis/my-page/types.ts
  apps/client/src/mocks/Apis/sign/index.ts
Labels: client, chore

#69 my/seller 페이지 퍼블리싱
  apps/client/src/app/my/_components/Product/Product.tsx
  apps/client/src/app/my/_components/Product/Product.types.ts
  apps/client/src/app/my/_components/Product/index.ts
  apps/client/src/app/my/_components/SummarySection/SummarySection.tsx
  apps/client/src/app/my/_components/SummarySection/SummarySection.types.tsx
  apps/client/src/app/my/_components/index.ts
  apps/client/src/app/my/seller/(main)/_components/MyShopSelect/MyShopSelect.tsx
  apps/client/src/app/my/seller/(main)/_components/MyShopSelect/MyShopSelect.types.ts
  apps/client/src/app/my/seller/(main)/_components/MyShopSelect/index.ts
  apps/client/src/app/my/seller/(main)/_components/RegisteredProducts/RegisteredProduct.types.ts
  apps/client/src/app/my/seller/(main)/_components/RegisteredProducts/RegisteredProducts.tsx
  apps/client/src/app/my/seller/(main)/_components/RegisteredProducts/index.ts
  apps/client/src/app/my/seller/(main)/_components/SellerCouponSummary/SellerCouponSummary.tsx
  apps/client/src/app/my/seller/(main)/_components/SellerCouponSummary/SellerCouponSummary.types.ts
  apps/client/src/app/my/seller/(main)/_components/SellerCouponSummary/index.ts
  apps/client/src/app/my/seller/(main)/_components/index.ts
  apps/client/src/app/my/seller/(main)/page.tsx
  apps/client/src/components/ListLayout/ListLayout.tsx
  apps/client/src/components/ProductItem/ProductItem.stories.tsx
  apps/client/src/components/ProductItem/ProductItem.tsx
  apps/client/src/components/ProductItem/ProductItem.types.ts
  apps/client/src/components/ProductItem/index.ts
  apps/client/src/components/index.ts
Labels: client, publishing

#72 스토리북 실행 후 .storybook > preview.tsx 에서 속성값 재정의 에러 수정
  apps/workshop/.storybook/preview.tsx
Labels: fix

#67 로그인 페이지 퍼블리싱<디자인 시스템 반영> 및 토큰 발급
  apps/client/public/img/oauth_google.png
  apps/client/public/img/oauth_naver.png
  apps/client/src/app/auth/_constants/signInSns.mediaArray.ts
  apps/client/src/app/auth/_constants/validation/authSchemas.ts
  apps/client/src/app/auth/_constants/validation/index.ts
  apps/client/src/app/auth/_constants/validation/validationSchemas.ts
  apps/client/src/app/auth/_state/server/api.ts
  apps/client/src/app/auth/_state/server/hooks/index.ts
  apps/client/src/app/auth/_state/server/hooks/usePostLogin.tsx
  apps/client/src/app/auth/layout.tsx
  apps/client/src/app/auth/login/_components/JoinNavigationForUnknownUser.tsx
  apps/client/src/app/auth/login/_components/ShopHubAccount.tsx
  apps/client/src/app/auth/login/_components/SnsAccount.tsx
  apps/client/src/app/auth/login/page.tsx
  apps/client/src/app/shared/validation/index.ts
  apps/client/src/app/shared/validation/validationMessages.ts
  apps/client/src/app/shared/validation/validationRegex.ts
  apps/client/src/app/shared/validation/validationSchemas.ts
Labels: client, publishing, feature

#73 Coupon 관련 잡다한 리팩터링 작업
  apps/client/src/app/my/buyer/coupons/[title]/page.tsx
  apps/client/src/app/my/buyer/coupons/page.tsx
  apps/client/src/app/my/layout.tsx
  apps/client/src/components/Coupon/Coupon/Coupon.stories.tsx
  apps/client/src/components/Coupon/Coupon/Coupon.tsx
  apps/client/src/components/Coupon/Coupon/Coupon.types.ts
  apps/client/src/components/Coupon/ExpansionCoupon/ExpansionCoupon.tsx
  apps/client/src/components/Coupon/components/CouponBody.tsx
  apps/client/src/components/Coupon/components/CouponComponents.types.ts
  apps/client/src/components/Coupon/components/ExpirationDuring.tsx
  apps/client/src/components/Coupon/components/ValidityDate.tsx
  apps/client/src/components/Coupon/components/index.ts
Labels: client, refactoring
